<div class="container">
  <div class="columns bg-dark">
    <div class="column col-8 col-xl-8 col-lg-8 col-md-10 col-sm-10 col-xs-10 col-mx-auto">
      <header class="navbar">
        <section class="navbar-section">
          <a routerLink="" class="navbar-brand mr-2"><img src="https://taitk.org/app-assets/images/logo5.png" alt="TAITK Server"></a>
        </section>
        <section class="navbar-section">
          <a routerLink="login" class="btn btn-link text-light">登入</a>
        </section>
      </header>
    </div>
  </div>
</div>