<div class="container">
  <div class="columns bg-dark">
    <div class="column col-8 col-xl-8 col-lg-8 col-md-10 col-sm-10 col-xs-10 col-mx-auto">
      <header class="navbar">
        <section class="navbar-section">
          <a routerLink="algorithms/" fragment="all" class="navbar-brand mr-2"><img src="assets/logo.png" alt="TAITK Server"></a>
          <a href="readme.html" target="_blank" class="navbar-brand mr-2 text-secondary">Read Me</a>
          <a href="/resource_demo/datasource3.html" target="_blank" rel="noopener noreferrer" class="navbar-brand mr-2 text-secondary">機器學習資料集</a>
        </section>
        <section class="navbar-section" *ngIf="!userService.logined">
          <a routerLink="login" class="btn btn-link text-light">登入</a>
          <a routerLink="algorithms" *ngIf="!userService.logined"></a>
        </section>
        <section class="navbar-section" *ngIf="userService.logined">
          <a routerLink="algorithms" class="btn btn-link text-light">{{ userService.group }}</a>
          <a (click)="logout()" class="btn btn-link text-light">登出</a>
        </section>
      </header>
    </div>
  </div>
</div>
