<div class="container">
  <div class="columns">
    <div class="column col-8 col-xl-8 col-lg-8 col-md-10 col-sm-10 col-xs-10 col-mx-auto">
      <div class="container">
        <div class="columns">
          <div class="column">
            <div class="text-center">
              <a class="btn btn-primary edit-action" [class.hide]="editing">新增</a>
              <a class="btn edit-action" [class.hide]="!editing || jsonMode" (click)="switchEditMode(true)">JSON 模式</a>
              <a class="btn edit-action" [class.hide]="!editing || !jsonMode" (click)="switchEditMode(false)">表單模式</a>
              <a class="btn edit-action mt-1" [class.hide]="editing" (click)="startEdit()">編輯</a>
              <a class="btn btn-success edit-action mt-1" [class.hide]="!editing" (click)="finishEdit()">完成</a>
              <a class="btn btn-error edit-action mt-1" [class.hide]="!editing" (click)="discardEdit()">放棄</a>
            </div>
            <ul class="menu menu-nav">
              <li class="menu-item"><a href="#">演算法1</a></li>
              <li class="menu-item"><a href="#">演算法2</a></li>
              <li class="menu-item"><a href="#">演算法3</a></li>
            </ul>
          </div>
          <div class="divider-vert"></div>
          <div class="column col-9">
            <app-algorithm-form [editing]="editing" #form></app-algorithm-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-sm" [class.active]="discardPrompt">
  <a class="modal-overlay" aria-label="close"></a>
  <div class="modal-container text-center">
    <div class="modal-body">
      <p>你確定要放棄本次編輯嗎？</p>
      <button class="btn btn-primary" (click)="discardEditConfirm()">確定</button>
      <button class="btn mx-1" (click)="discardEditCancel()">返回</button>
    </div>
  </div>
</div>