.flex-btns {
  display: flex;
}

.btn-select {
  opacity: 0.6;
  flex: 1;
}

.btn-select.active, .btn-select:hover {
  opacity: 1;
}

.panel {
    background: white;
    margin-bottom: 16px;
}

.edit-action {
    width: 90%;
    border-radius: 99px;
}

.hide {
    display: none;
}

.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 52px solid #bda;
    border-color: #bda transparent #bda transparent;
    animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}

.accordion input:checked ~ .accordion-body, .accordion[open] .accordion-body {
    max-height: 10000rem;
}

app-algorithm-example {
    position: fixed;
    background: white;
    z-index: 1024;
    top: 0;
    width: 40%;
    height: 100vh;
    overflow: hidden auto;
    transition: left 0.6s;
}
