<div class="container">
    <div class="columns">
        <div class="column col-8 col-xl-8 col-lg-8 col-md-10 col-sm-10 col-xs-10 col-mx-auto">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <div class="text-center">
                            <div *ngIf="!editing" class="flex-btns">
                                <a class="btn btn-secondary btn-select" [class.active]="full" routerLink="/algorithms" fragment="all">Server 資料集</a>
                                <a class="btn btn-secondary btn-select" [class.active]="!full" routerLink="/algorithms" fragment="">新增編輯</a>
                            </div>
                            <div *ngIf="!editing" class="flex-btns" style="margin-top: 1em;" >
                                <a class="btn btn-secondary btn-select" [class.active]="year === select" tabindex="0" *ngFor="let select of years" (click)="year = select">{{ select }}</a>
                            </div>
                            <a class="btn btn-success edit-action" style="margin-top: 1em;" *ngIf="full && !editing" (click)="collection = !collection">{{ collection ? '返回' : '蒐集結果' }}</a>
                            <ng-container *ngIf="!full && !editing">
                                <a class="btn btn-primary edit-action mt-1" [routerLink]="'/algorithms/new'" (click)="startEdit(1)">新增</a>
                                <a class="btn edit-action mt-1 " (click)="startEdit()">編輯</a>
                            </ng-container>
                            <ng-container *ngIf="!collection && !editing">
                                <details class="accordion" *ngFor="let group of sortedAlgorithms | keyvalue" open>
                                    <summary class="accordion-header">
                                        <i class="icon icon-arrow-right mr-1"></i>
                                        {{ group.key }}
                                    </summary>
                                    <div class="accordion-body">
                                        <ul class="menu menu-nav">
                                            <li class="menu-item" [hidden]="algorithm.created_at.slice(0, 4) !== year" *ngFor="let algorithm of group.value">
                                                <a [routerLink]=" '/algorithms/' + algorithm.id" fragment="all" *ngIf="full">{{ algorithm.abbreviation }}</a>
                                                <a [routerLink]=" '/algorithms/' + algorithm.id " *ngIf="!full">{{ algorithm.abbreviation }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </details>
                            </ng-container>
                        </div>
                        <ng-container *ngIf="editing">
                            <a class="btn edit-action mt-1 " *ngIf="editing " (click)="toggleExample() ">檢視範例</a>
                            <a class="btn btn-success edit-action mt-1 " *ngIf="editing " (click)="finishEdit() ">完成</a>
                            <a class="btn btn-error edit-action mt-1 " *ngIf="editing " (click)="discardEdit() ">放棄</a>
                        </ng-container>
                    </div>
                    <div class="divider-vert "></div>
                    <div class="column col-9">
                        <app-algorithm-form [editing]="editing" [(algorithmData)]="algorithm" #form [hidden]="collection"></app-algorithm-form>
                        <div class="panel bg-light" *ngIf="collection">
                          <div class="panel-header text-center">
                            <div class="panel-title h3">蒐集結果</div>
                          </div>
                          <div class="panel-body">
                            <div class="panel-title h3">台大人工智慧中心</div>
                            <div class="py-2" *ngFor="let algorithm of algorithmBelongToFilter('台大人工智慧中心')">
                              名稱：{{ algorithm['abbreviation'] }}<br>
                              單位：{{ algorithm['unit'] }}<br>
                              作者：{{ algorithmAuthorFormatter(algorithm['authors']) }}<br>
                              聯絡 Email：{{ algorithm['email'] }}<br>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-sm " [class.active]="discardPrompt ">
    <a class="modal-overlay " aria-label="close "></a>
    <div class="modal-container text-center ">
        <div class="modal-body ">
            <p>你確定要放棄本次編輯嗎？</p>
            <button class="btn btn-primary " (click)="discardEditConfirm() ">確定</button>
            <button class="btn mx-1 " (click)="discardEditCancel() ">返回</button>
        </div>
    </div>
</div>
<div class="modal active" [class.active]="locked">
    <a class="modal-overlay "></a>
    <div class="lds-hourglass"></div>
</div>
<app-algorithm-example draggable="true " [style.left.%]="example ? 0 : -40 " [(example)]="example "></app-algorithm-example>
