.panel {
    min-height: 100%;
}

.tile-content {
    overflow: auto !important;
}

.btn-clear {
    position: absolute;
    right: 4px;
    top: 4px;
}
.tile.tile-centered .tile-subtitle {
    text-overflow: unset;
    white-space: unset;
    word-break: break-word;
}