<div class="panel bg-light">
    <a class="btn btn-clear" (click)="exampleChange.emit(false)"></a>
    <div class="panel-header text-center">
        <div class="panel-title h3">AV-SpNET</div>
    </div>
    <div class="panel-body">
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">完整標題</div>
                <div class="tile-subtitle">Arousal Valence Speech Front-End Network</div>
            </div>
        </div>
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">類別</div>
                <div class="tile-subtitle">SER</div>
            </div>
        </div>
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">作者</div>
                <div class="tile-subtitle">
                    <span class="chip">
                    Chih-Chuan Lu
                    </span>
                </div>
            </div>
        </div>
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">標籤</div>
                <div class="tile-subtitle">
                    <span class="chip">
                      Speech Emotion Recognition
                    </span>
                </div>
            </div>
        </div>
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">功能描述</div>
                <div class="tile-subtitle">
                    Speech Emotion Recognition (SER) across diverse application domains is still challenging due to the …
                </div>
            </div>
        </div>
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">輸入類型</div>
                <div class="tile-subtitle"><code>audio/*</code></div>
            </div>
        </div>
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">輸出類型</div>
                <div class="tile-subtitle"><code>text/json</code></div>
            </div>
        </div>
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">參考連結</div>
                <div class="tile-subtitle">https://csie.ntu.edu.tw/some/one</div>
            </div>
        </div>
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">資料集</div>
                <div class="tile-content">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>名稱</th>
                                <th style="width: 60%;">連結</th>
                                <th>授權</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>WordNet</td>
                                <td>https://wordnet.princeton.edu/</td>
                                <td>Free/Due</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">參數</div>
                <div class="tile-content">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>標籤</th>
                                <th style="width: 75%;">說明</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td [innerHTML]="renderUnderLine('--底線=_VAR_')"></td>
                                <td>畫出HTML圖檔</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>