<div class="panel bg-light">
    <a class="btn btn-clear" (click)="exampleChange.emit(false)"></a>
    <div class="panel-header text-center">
        <div class="panel-title h3">Winston Hsu</div>
    </div>
    <div class="panel-body">
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">1. 完整 App 標題</div>
                <div class="tile-subtitle">Winston Hsu</div>
            </div>
        </div>
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">2. App 縮寫</div>
                <div class="tile-subtitle">Winston Hsu</div>
            </div>
        </div>
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">3. 作者</div>
                <div class="tile-subtitle">
                    <span class="chip">
                        Winston Hsu
                    </span>
                </div>
            </div>
        </div>
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">4. 單位</div>
                <div class="tile-subtitle">
                    <span class="chip">
                        台灣大學資訊系
                    </span>
                </div>
            </div>
        </div>
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">5. 計畫隸屬於</div>
                <div class="tile-subtitle">c. 科技部人工智慧普適研究中心-交大人工智慧中心</div>
            </div>
        </div>
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">6. 問題回報聯絡 Email</div>
                <div class="tile-subtitle">hhhuang@nlg.csie.ntu.edu.tw</div>
            </div>
        </div>
        <div class="">
            <div class="text-bold">7. 功能描述</div><br>
            <markdown>
                中文語篇剖析有四項子任務，包含初級語篇單元分割、 剖析樹建立、主次關係識別、語篇關係辨識等。 本文展示一個點對點中文語篇剖析器，並提出一套統一架構， 可以對輸入之中文篇章直接產生完整的中文語篇剖析結果。 我們的剖析器以遞迴類神經網路為基礎，同時對四項子任務進行學習， 在中文語篇樹庫(CDTB)資料集上，達到最先進的效能。 我們釋出了這個剖析器的原始碼與預先訓練完成的模型， 立即可用。據我們所知，這是第一個開放原始碼的中文剖析工具集， 而且這套獨立的工具集不須依賴外部資源(如句法剖析器)， 便於下游應用的整合。 
            </markdown>
        </div>
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">8. Keyword</div>
                <div class="tile-subtitle">
                    <span class="chip">
                        Chinese discourse parser 
                    </span>
                    <span class="chip">
                        中文語篇剖析器
                    </span>
                </div>
            </div>
        </div>
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">9. 程式會使用到的 NN(Neural Network) Toolkit & NN類別 </div>
                <div class="tile-subtitle">
                    <span class="chip">
                        NLP 
                    </span>
                    <span class="chip">
                        遞迴類神經網路
                    </span>
                    <span class="chip">
                        Discourse
                    </span>
                </div>
            </div>
        </div>
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">10. 參考連結 URL/GitHub </div>
                <div class="tile-subtitle">http://nlg18.csie.ntu.edu.tw/discourse_parser</div>
                <div class="tile-subtitle">http://aclweb.org/anthology/C18-2016</div>
                <div class="tile-subtitle">https://github.com/abccaba2000/discourse-parser</div>
            </div>
        </div>
        <div class="tile tile-centered ">
            <div class="tile-content ">
                <div class="tile-title text-bold ">
                    11. 程式會使用到的資料集（可參考範例）
                </div>
                <div class="tile-content ">
                    <div class="card my-2">
                        <div class="card-body">
                            <p>名稱：中文語篇樹庫（CDTB）</p>
                            <p>連結：www.cs.brandeis.edu/~clp/cdtb/</p>
                            <span>描述：</span>
                            <markdown></markdown>
                            <div class="form-group"><label class="form-label">是否免費使用：是</label></div>
                            <div class="form-group"><label class="form-label">是否開放授權：是</label></div>
                            <markdown></markdown>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>名稱：WordNet</p>
                        <p>連結：https://wordnet.princeton.edu/</p>
                        <span>描述：</span>
                        <markdown></markdown>
                        <div class="form-group"><label class="form-label">是否免費使用：是</label></div>
                        <div class="form-group"><label class="form-label">是否開放授權：是</label></div>
                        <markdown></markdown>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile tile-centered ">
            <div class="tile-content ">
                <div class="tile-title text-bold ">12. 可供程式 (App) 選擇的參數</div>
                <div class="tile-content ">
                    <table class="table table-striped table-hover ">
                        <thead>
                            <tr>
                                <th>變數名稱</th>
                                <th style="width: 60%; ">說明</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>demo</td>
                                <td>
                                    <markdown>畫出HTML圖檔</markdown>
                                </td>
                            </tr>
                            <tr>
                                <td>r</td>
                                <td>
                                    <markdown>調整樹的深度</markdown>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">13. 程式 (App) 輸入格式（image, text, speech or ...)</div>
                <div class="tile-subtitle"><code>text/plain</code></div>
            </div>
        </div>
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">. 程式 (App) 輸出格式（image, text, speech or ...)</div>
                <div class="tile-subtitle"><code>text/html</code></div>
            </div>
        </div>
    </div>
</div>