<div class="panel bg-light">
  <div class="panel-header text-center">
    <div class="panel-title h3">ADSA</div>
  </div>
  <div class="panel-body">
    <div class="tile tile-centered">
      <div class="tile-content">
        <div class="tile-title text-bold">全稱</div>
        <div class="tile-subtitle">Adversarial Domain Separation and Adaptation</div>
      </div>
    </div>
    <div class="tile tile-centered">
      <div class="tile-content">
        <div class="tile-title text-bold">類別</div>
        <div class="tile-subtitle">類別一</div>
      </div>
    </div>
    <div class="tile tile-centered">
      <div class="tile-content">
        <div class="tile-title text-bold">作者</div>
        <div class="tile-subtitle">
          <span class="chip">
            Jen-Tzung Chien
            <a aria-label="close" role="button" class="btn btn-clear hide"></a>
          </span>
          <span class="chip">
            Yu-Hsiu Chen
            <a aria-label="close" role="button" class="btn btn-clear hide"></a>
          </span>
        </div>
      </div>
    </div>
    <div class="tile tile-centered">
      <div class="tile-content">
        <div class="tile-title text-bold">功能</div>
        <div class="tile-subtitle">
          Domain Adaptation, Pattern Classification
        </div>
      </div>
    </div>
  </div>
</div>
