table {
    table-layout: fixed;
}

table td {
    overflow: hidden;
    text-overflow: ellipsis;
}

.panel {
    background: white;
    margin-bottom: 16px;
}

.tile {
    margin: .75em 0;
}

.panel-title>input {
    font-size: 1.4rem;
    border: none;
}

.hide {
    display: none;
}

.json-textarea {
    height: calc(70vh - 150px);
}

.chip {
    max-width: unset;
}

.chip-input {
    border: none;
    background: none;
}

.json-error {
    position: relative;
    width: 80%;
    left: 10%;
    top: -100%;
    transform: translateY(-33%);
}

.form-input {
    margin-top: 3px;
}

.form-input::placeholder {
    content: '';
    color: green;
}

.tile.tile-centered .tile-subtitle {
    text-overflow: unset;
    white-space: unset;
    word-break: break-word;
}

markdown::ng-deep table, div[markdown]::ng-deep table {
    border-collapse: collapse;
}

markdown::ng-deep th, markdown::ng-deep td, div[markdown]::ng-deep th, div[markdown]::ng-deep td {
    border: 1px solid black;
    padding: 3px 6px;
}

markdown::ng-deep thead, div[markdown]::ng-deep thead {
    font-weight: bold;
    border-bottom: 2px solid black;
}
