.panel {
    background: white;
}
.tile {
    margin: .75em 0;
}
.panel-title > input {
    font-size: 1.4rem;
    border: none;
}
.hide {
    display: none;
}

.json-textarea {
    height: calc(70vh - 150px);
}

.author-input {
    border: none;
    background: none;
}

.json-error {
    position: relative;
    width: 80%;
    left: 10%;
    top: -100%;
    transform: translateY(-33%);
}