<div class="panel bg-light">
    <div class="panel-header text-center" *ngIf="!editing">
        <div class="panel-title h3">{{ algorithmData.abbreviation }}</div>
    </div>
    <div class="panel-body">
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">1. 完整 App 標題</div>
                <div class="tile-subtitle" *ngIf="!editing">{{ algorithmData.title }}</div>
                <div class="tile-subtitle" *ngIf="editing">
                    <input type="text" class="form-input" [(ngModel)]="algorithmData.title" placeholder="(完整 App/Project 標題)">
                </div>
            </div>
        </div>
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">2. App 縮寫</div>
                <div class="tile-subtitle" *ngIf="!editing">{{ algorithmData.abbreviation }}</div>
                <div class="tile-subtitle" *ngIf="editing">
                    <input type="text" class="form-input" [(ngModel)]="algorithmData.abbreviation" placeholder="(App/Project 縮寫)">
                </div>
            </div>
        </div>
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">3. 作者
                    <button class="btn btn-link btn-action" (click)="newAuthor()" *ngIf="editing">
                        <i class="icon icon-plus"></i>
                    </button>
                </div>
                <div class="tile-subtitle">
                    <ng-container *ngFor="let author of deleteFilter(algorithmData.authors)">
                        <span class="chip" *ngIf="author.name.length">
                            <ng-container *ngIf="!editing">{{ author.name }}</ng-container>
                            <input class="chip-input" type="text" [(ngModel)]="author.name" placeholder="ex. Chih-Chuan Lu" *ngIf="editing">
                            <a aria-label="close" role="button" class="btn btn-clear" *ngIf="editing"
                            (click)="deleteAuthor(author)"></a>
                        </span>
                    </ng-container>
                    <span class="chip" *ngIf="editing">
                        <form (submit)="newAuthorSubmit()">
                            <input class="chip-input" autofocus type="text" [(ngModel)]="newAuthorName"
                            [ngModelOptions]="{standalone: true}" #authorInput placeholder="(First Name Last Name)">
                            <a aria-label="close" role="button" class="btn btn-clear" *ngIf="editing"
                            (click)="newAuthorDiscard()"></a>
                        </form>
                    </span>
                </div>
            </div>
        </div>
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">4. 單位
                    <button class="btn btn-link btn-action" (click)="newUnit()" *ngIf="editing">
                        <i class="icon icon-plus"></i>
                    </button>
                </div>
                <div class="tile-subtitle">
                    <ng-container *ngFor="let unit of algorithmData.units">
                        <span class="chip" *ngIf="unit.length">
                            <ng-container *ngIf="!editing">{{ unit }}</ng-container>
                            <input class="chip-input" type="text" [(ngModel)]="unit" placeholder="(台灣大學資工系)" *ngIf="editing">
                            <a aria-label="close" role="button" class="btn btn-clear" *ngIf="editing"
                            (click)="deleteUnit(unit)"></a>
                        </span>
                    </ng-container>
                    <span class="chip" *ngIf="editing">
                        <form (submit)="newUnitSubmit()">
                            <input class="chip-input" autofocus type="text" [(ngModel)]="newUnitName"
                            [ngModelOptions]="{standalone: true}" #unitInput placeholder="(台灣大學資工系)">
                            <a aria-label="close" role="button" class="btn btn-clear" *ngIf="editing"
                            (click)="newUnitDiscard()"></a>
                        </form>
                    </span>
                </div>
            </div>
        </div>
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">5. 計畫隸屬於</div>
                <div class="tile-subtitle">
                    <span *ngIf="!editing">{{ algorithmData.belong_to }}</span>
                    <select class="form-select" [(ngModel)]="algorithmData.belong_to" *ngIf="editing">
                        <option>a. 科技部人工智慧技術暨全幅健康照護聯合研究中心-台大人工智慧中心</option>
                        <option>b. 科技部人工智慧製造系統研究中心-清大人工智慧中心</option>
                        <option>c. 科技部人工智慧普適研究中心-交大人工智慧中心</option>
                        <option>d. 科技部人工智慧生技醫療-成大人工智慧中心</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">6. 問題回報聯絡 Email</div>
                <div class="tile-subtitle" *ngIf="!editing">{{ algorithmData.email }}</div>
                <div class="tile-subtitle" *ngIf="editing">
                    <input type="text" class="form-input" [(ngModel)]="algorithmData.email" placeholder="(aintu@ntu.edu.tw)">
                </div>
            </div>
        </div>
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">7. 功能描述</div>
                <div markdown class="tile-subtitle" *ngIf="!editing" [data]="algorithmData.description"></div>
                <div class="tile-subtitle">
                    <textarea class="form-input" *ngIf="editing" [(ngModel)]="algorithmData.description" placeholder="(可用 Markdown 語法))" rows="4"></textarea>
                </div>
            </div>
        </div>
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">8. Keyword</div>
                <small *ngIf="editing">Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</small>
                <select class="form-select" multiple *ngIf="editing" (change)="updateTags($event)">
                  <optgroup label="—(類別)—">
                      <option *ngFor="let option of tagCategories[algorithmData.belong_to.slice(-8)]" [selected]="tags.indexOf(option) !== -1">{{ option }}</option>
                  </optgroup>
                    <optgroup label="—(關鍵字)—">
                        <option *ngFor="let option of tagKeywords" [selected]="tags.indexOf(option) !== -1">{{ option }}</option>
                    </optgroup>
                </select>
                <div class="tile-subtitle" *ngIf="!editing">
                    <span class="chip" *ngFor="let tag of deleteFilter(algorithmData.tags)">
                        {{ tag.tag }}
                    </span>
                </div>
            </div>
        </div>
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">9. 使用到的 Toolkit, NN類別 or 其他關鍵字
                    <button class="btn btn-link btn-action" (click)="newCategory()" *ngIf="editing">
                        <i class="icon icon-plus"></i>
                    </button>
                </div>
                <div class="tile-subtitle">
                    <ng-container *ngFor="let category of algorithmData.categories">
                        <span class="chip" *ngIf="category.length">
                            <ng-container *ngIf="!editing">{{ category }}</ng-container>
                            <input class="chip-input" type="text" [(ngModel)]="category" placeholder="(BERT)" *ngIf="editing">
                            <a aria-label="close" role="button" class="btn btn-clear" *ngIf="editing"
                            (click)="deleteCategory(category)"></a>
                        </span>
                    </ng-container>
                    <span class="chip" *ngIf="editing">
                        <form (submit)="newCategorySubmit()">
                            <input class="chip-input" autofocus type="text" [(ngModel)]="newCategoryName"
                            [ngModelOptions]="{standalone: true}" #categoryInput placeholder="(BERT)">
                            <a aria-label="close" role="button" class="btn btn-clear" *ngIf="editing"
                            (click)="newCategoryDiscard()"></a>
                        </form>
                    </span>
                </div>
            </div>
        </div>
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">10. 參考連結 URL, GitHub or PaperSite
                    <button class="btn btn-link btn-action " (click)="algorithmData.links.push({id: -1, link: ''}) " *ngIf="editing">
                        <i class="icon icon-plus"></i>
                    </button>
                </div>
                <ng-container *ngFor="let link of deleteFilter(algorithmData.links)">
                    <div class="tile-subtitle" *ngIf="!editing"><a [href]="link.link">{{ link.link }}</a></div>
                    <div class="tile-subtitle" *ngIf="editing">
                        <input type="text" class="form-input" [(ngModel)]="link.link" style="display: inline;">
                        <a aria-label="close" role="button" class="btn btn-clear" *ngIf="editing" (click)="link.delete = true" style="display: inline;"></a>
                    </div>
                </ng-container>
                <div class="tile-subtitle " *ngIf="editing ">
                </div>
            </div>
        </div>
        <div class="tile tile-centered ">
            <div class="tile-content ">
                <div class="tile-title text-bold ">11. 程式會使用到的資料集（可參考範例）
                    <button class="btn btn-link btn-action" (click)="datasetModal = {id: -1, name: '', link: 'null', description: '', free: 1, open: 1}" *ngIf="editing">
                        <i class="icon icon-plus"></i>
                    </button>
                </div>
                <div class="tile-content" style="cursor: pointer">
                    <div class="card my-2" *ngFor="let dataset of deleteFilter(algorithmData.datasets);let index = index">
                        <div class="card-body" (click)="datasetModal = dataset">{{ dataset.name }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile tile-centered ">
            <div class="tile-content ">
                <div class="tile-title text-bold ">12. App 可否被執行：(No: 可忽略)</div>
                <div class="tile-subtitle" *ngIf="!editing && algorithmData.executable">Yes, <a [href]="algorithmData.executable">{{ algorithmData.executable }}</a></div>
                <div class="tile-subtitle" *ngIf="!editing && algorithmData.parameters.length && !algorithmData.executable">Yes</div>
                <div class="tile-subtitle" *ngIf="!editing && !algorithmData.parameters.length && !algorithmData.executable">No</div>
                <div class="tile-subtitle" *ngIf="editing">
                    <input type="text" class="form-input" [(ngModel)]="algorithmData.executable" placeholder="http://link.to/docs">
                </div>
            </div>
        </div>
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">13. 程式 (App) 輸入格式（image, text, speech or ...)</div>
                <div class="tile-subtitle" *ngIf="!editing"><code>{{ algorithmData.input_type }}</code></div>
                <div class="tile-subtitle" *ngIf="editing">
                    <input type="text" class="form-input" [(ngModel)]="algorithmData.input_type" placeholder="ex. audio/*">
                </div>
            </div>
        </div>
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">14. 程式 (App) 輸出格式（image, text, speech or ...)</div>
                <div class="tile-subtitle" *ngIf="!editing"><code>{{ algorithmData.output_type }}</code></div>
                <div class="tile-subtitle" *ngIf="editing">
                    <input type="text" class="form-input" [(ngModel)]="algorithmData.output_type" placeholder="ex. text/json">
                </div>
            </div>
        </div>
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">15. 識別碼</div>
                <div class="tile-subtitle">{{ algorithmData.remote_secret }}</div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="dataset-modal" [class.active]="datasetModal" *ngIf="datasetModal">
    <a class="modal-overlay" aria-label="Close" (click)="datasetModal = null"></a>
    <div class="modal-container">
        <div class="modal-body" *ngIf="!editing">
            <p>名稱：{{ datasetModal.name }}</p>
            <span>描述：</span>
            <markdown [data]="datasetModal.description"></markdown>
            <div class="form-group">
                <label class="form-label">是否免費使用：{{ datasetModal.free ? '是' : '否' }}</label>
            </div>
            <div class="form-group">
                <label class="form-label">是否開放授權：{{ datasetModal.open ? '是' : '否' }}</label>
            </div>
            <div class="form-group" *ngIf="datasetModal.source?.length">
                <label class="form-label">是否為自行蒐集：{{ datasetModal.source.join(', ') }}</label>
            </div>
            <markdown [data]="datasetModal.resource" *ngIf="datasetModal.open == 1"></markdown>
            <p *ngIf="datasetModal.publish_in">發表此 Dataset 的論文名稱：{{ datasetModal.publish_in }}</p>
        </div>
        <div class="modal-body" *ngIf="editing">
            <p>名稱：<input type="text" class="form-input " [(ngModel)]="datasetModal.name"></p>
            <span>描述：</span>
            <textarea class="form-input " placeholder="可使用 Markdown " [(ngModel)]="datasetModal.description" rows="4"></textarea>
            <div class="form-group">
                <label class="form-label">是否免費使用</label>
                <label class="form-radio form-inline">
                    <input type="radio" [name]="'free'+index"
                    [checked]="datasetModal.free === 1"
                    (change)="datasetModal.free = 1"><i class="form-icon"></i> 是
                </label>
                <label class="form-radio form-inline">
                    <input type="radio" [name]="'free'+index"
                    [checked]="datasetModal.free === 0"
                    (change)="datasetModal.free = 0"><i class="form-icon"></i> 否
                </label>
            </div>
            <div class="form-group">
                <label class="form-label">是否開放授權</label>
                <label class="form-radio form-inline">
                    <input type="radio" [name]="'open'+index"
                    [checked]="datasetModal.open === 1"
                    (change)="datasetModal.open = 1"><i class="form-icon"></i> 是
                </label>
                <label class="form-radio form-inline">
                    <input type="radio" [name]="'open'+index"
                    [checked]="datasetModal.open === 0"
                    (change)="datasetModal.open = 0"><i class="form-icon"></i> 否（有版權問題，請聯絡作者或 AI 中心）
                </label>
            </div>
            <div class="form-group">
                <label class="form-label">是否為自行蒐集：</label>
                <label class="form-checkbox form-inline">
                    <input type="checkbox" [name]="'source'+index"
                    [checked]="datasetModal.source && datasetModal.source.indexOf('自行蒐集') !== -1"
                    (change)="datasetSourceToggle(datasetModal, '自行蒐集')"><i class="form-icon"></i> 自行蒐集
                </label>
                <label class="form-checkbox form-inline">
                    <input type="checkbox" [name]="'source'+index"
                    [checked]="datasetModal.source && datasetModal.source.indexOf('Open Source') !== -1"
                    (change)="datasetSourceToggle(datasetModal, 'Open Source')"><i class="form-icon"></i> Open Source
                </label>
            </div>
            <div class="from-group">
                <label class="form-label" *ngIf="datasetModal.open == 1">可被下載的資料集 URL or GitHub Link: </label>
                <textarea class="form-input" id="resource" rows="3" [(ngModel)]="datasetModal.resource" *ngIf="datasetModal.open == 1"></textarea>
            </div>
            <div class="from-group">
                <label class="form-label">發表此 Dataset 的論文名稱：</label>
                <input type="text" class="form-input " [(ngModel)]="datasetModal.publish_in">
                <small>如缺少此資訊，Dataset 會沒有「引用次數」</small>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" (click)="updateDataset()" *ngIf="editing">儲存</button>
            <button class="btn btn-error mx-2" (click)="datasetModal.delete = true; updateDataset()" *ngIf="editing">刪除</button>
            <button class="btn" (click)="datasetModal = null">關閉</button>
        </div>
    </div>
  </div>
