<div class="panel bg-light" *ngIf="!jsonMode">
    <div class="panel-header text-center">
        <div class="panel-title h3" *ngIf="!editing">{{ algorithmData.abbreviation }}</div>
        <div class="panel-title" *ngIf="editing">
            <input type="text" class="form-input text-center" [(ngModel)]="algorithmData.abbreviation" placeholder="簡稱 ex. AV-SpNET">
        </div>
    </div>
    <div class="panel-body">
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">完整標題</div>
                <div class="tile-subtitle" *ngIf="!editing">{{ algorithmData.title }}</div>
                <div class="tile-subtitle" *ngIf="editing">
                    <input type="text" class="form-input" [(ngModel)]="algorithmData.title" placeholder="ex. Arousal Valence Speech Front-End Network">
                </div>
            </div>
        </div>
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">類別</div>
                <div class="tile-subtitle" *ngIf="!editing">{{ algorithmData.category }}</div>
                <div class="tile-subtitle" *ngIf="editing">
                    <input type="text" class="form-input" [(ngModel)]="algorithmData.category" placeholder="ex. SER">
                </div>
            </div>
        </div>
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">作者</div>
                <div class="tile-subtitle">
                    <span class="chip" *ngFor="let author of algorithmData.authors">
            {{ author.name }}
            <a aria-label="close" role="button" class="btn btn-clear" *ngIf="editing"
              (click)="deleteAuthor(author)"></a>
          </span>
                    <span class="chip" *ngIf="newAuthorInput && editing">
            <form (submit)="newAuthorSubmit()">
              <input class="chip-input" autofocus type="text" [(ngModel)]="newAuthorName"
                [ngModelOptions]="{standalone: true}" #authorInput placeholder="ex. Chih-Chuan Lu">
                <a aria-label="close" role="button" class="btn btn-clear" *ngIf="editing"
                  (click)="newAuthorDiscard()"></a>
            </form>
          </span>
                </div>
            </div>
            <div class="tile-action" *ngIf="editing">
                <button class="btn btn-link btn-action" (click)="newAuthor()">
          <i class="icon icon-plus"></i>
        </button>
            </div>
        </div>
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">標籤</div>
                <div class="tile-subtitle">
                    <span class="chip" *ngFor="let tag of algorithmData.tags">
            {{ tag.tag }}
            <a aria-label="close" role="button" class="btn btn-clear" *ngIf="editing"
              (click)="deleteTag(tag)"></a>
          </span>
                    <span class="chip" *ngIf="newTagInput && editing">
            <form (submit)="newTagSubmit()">
              <input class="chip-input" autofocus type="text" [(ngModel)]="newTagName"
                [ngModelOptions]="{standalone: true}" #tagInput placeholder="ex. Speech Emotion Recognition">
                <a aria-label="close" role="button" class="btn btn-clear" *ngIf="editing"
                  (click)="newTagDiscard()"></a>
            </form>
          </span>
                </div>
            </div>
            <div class="tile-action" *ngIf="editing">
                <button class="btn btn-link btn-action" (click)="newTag()">
          <i class="icon icon-plus"></i>
        </button>
            </div>
        </div>
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">功能描述</div>
                <div class="tile-subtitle" *ngIf="!editing">
                    {{ algorithmData.description }}
                </div>
                <div class="tile-subtitle">
                    <textarea class="form-input" *ngIf="editing" [(ngModel)]="algorithmData.description" placeholder="Speech Emotion Recognition (SER) across diverse application domains is still challenging due to the …"></textarea>
                </div>
            </div>
        </div>
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">輸入類型</div>
                <div class="tile-subtitle" *ngIf="!editing"><code>{{ algorithmData.input_type }}</code></div>
                <div class="tile-subtitle" *ngIf="editing">
                    <input type="text" class="form-input" [(ngModel)]="algorithmData.input_type" placeholder="ex. audio/*">
                </div>
            </div>
        </div>
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">輸出類型</div>
                <div class="tile-subtitle" *ngIf="!editing"><code>{{ algorithmData.output_type }}</code></div>
                <div class="tile-subtitle" *ngIf="editing">
                    <input type="text" class="form-input" [(ngModel)]="algorithmData.output_type" placeholder="ex. text/json">
                </div>
            </div>
        </div>
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">參考連結</div>
                <ng-container *ngFor="let link of algorithmData.links">
                    <div class="tile-subtitle" *ngIf="!editing">{{ link.link }}</div>
                    <div class="tile-subtitle" *ngIf="editing">
                        <input type="text" class="form-input" [(ngModel)]="link">
                        <a aria-label="close" role="button" class="btn btn-clear" *ngIf="editing" (click)="deleteLink(link)"></a>
                    </div>
                </ng-container>
                <div class="tile-subtitle" *ngIf="editing">
                    <button class="btn btn-link btn-action" (click)="algorithmData.links.push({id: -1, link: ''})">新增</button>
                </div>
            </div>
        </div>
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">資料集</div>
                <div class="tile-content">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>名稱</th>
                                <th style="width: 60%;">連結</th>
                                <th>授權</th>
                                <th *ngIf="editing">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>WordNet</td>
                                <td>https://wordnet.princeton.edu/</td>
                                <td>Free/Due</td>
                                <td *ngIf="editing">
                                    <button class="btn btn-sm btn-success"><i class="icon icon-edit"></i></button>
                                    <button class="btn btn-sm btn-error"><i class="icon icon-delete"></i></button>
                                </td>
                            </tr>
                            <tr *ngIf="editing">
                                <td><input type="text" class="form-input" placeholder="WordNet"></td>
                                <td><input type="text" class="form-input" placeholder="http://www.cs.brandeis.edu/~clp/cdtb/"></td>
                                <td><input type="text" class="form-input" placeholder="Free/Due"></td>
                                <td><button class="btn btn-sm btn-success"><i class="icon icon-check"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tile tile-centered">
            <div class="tile-content">
                <div class="tile-title text-bold">參數</div>
                <div class="tile-content">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>標籤</th>
                                <th style="width: 75%;">說明</th>
                                <th *ngIf="editing">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td [innerHTML]="renderUnderLine('--demo=_VAR_')"></td>
                                <td>畫出HTML圖檔</td>
                                <td *ngIf="editing">
                                    <button class="btn btn-sm btn-success"><i class="icon icon-edit"></i></button>
                                    <button class="btn btn-sm btn-error"><i class="icon icon-delete"></i></button>
                                </td>
                            </tr>
                            <tr *ngIf="editing">
                                <td><input type="text" class="form-input" placeholder="--demo=_VAR_"></td>
                                <td><input type="text" class="form-input" placeholder="輸出示範。VAR：任意值"></td>
                                <td><button class="btn btn-sm btn-success"><i class="icon icon-check"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel bg-light" *ngIf="jsonMode">
    <div class="panel-header"></div>
    <div class="panel-body">
        <div class="form-group">
            <textarea [(ngModel)]="algorithmJSON" class="form-input json-textarea">
    </textarea>
        </div>
    </div>
    <div class="panel-footer"></div>
</div>
<div class="toast toast-error json-error" *ngIf="jsonErrorToast">
    <button class="btn btn-clear float-right" (click)="jsonErrorToast=false"></button> JSON 格式有誤，請檢查後重試。（或者 <a (click)="recoveryForm()">重設</a>）
</div>